header {
	font-size : 30px;

	text-align : center;

	color : rgb(235, 22, 22);
}

form {
	font-size : 16px;

	width : 300px;
	height : 250px;
	margin : auto;
	margin-top : 50px;
	padding-top : 15px;
	padding-left : 80px;

	border : 1px solid rgb(136, 153, 152);
	border-radius : 10px;
}

input#submit {
	font-size : 16px;
	font-weight : 600;

	width : 50px;
	height : 30px;
	margin-top : 20px;
	margin-left : 150px;

	border-radius : 5px;
	background-color : rgb(0, 255, 221);
}

input#submit:hover {
	background-color : rgb(0, 217, 255);
	text-shadow : 2px 2px 2px rgb(3, 197, 197);
}

footer {
	font-size : 12px;
	font-size : 12px;

	width : 200px;
	height : 20px;
	margin-top : 230px;
	margin-left : 1100px;

	text-align : center;

	color : rgb(0, 3, 5);
}
