main {
	width : 800px;
	height : 1300px;
	margin-top : 30px;
	margin-right : 200px;
	margin-left : 350px;
}
.nav_left {
	float : left;

	width : 195px;
	height : 145px;
	margin-top : 20px;
	margin-right : 80px;
	margin-left : 20px;
	padding : 25px;

	border-right : 1px solid rgb(166, 166, 167);
}
.nav_left ul li {
	margin-top : 30px;

	list-style : none;
}
.nav_left ul li a {
	font-size : 18px;

	padding : 5px;

	text-decoration : none;

	color : rgb(255, 0, 140);
	border-radius : 3px;
	background-color : rgb(199, 205, 209);
}
