
.side_right {
	font-size : 18px;

	float : right;

	width : 178px;
	height : 300px;
	margin-top : 30px;
	margin-left : 50px;

	list-style : none;

	text-decoration : none;

	color : rgb(0, 0, 0);
}
.side_right hr {
	width : 110px;
	margin-left : 1px;
}
.side_right ul li {
	margin-top : 20px;
}
.side_right ul a {
	text-decoration : none;

	color : rgb(0, 0, 0);
}
main {
	width : 1100px;
}
p#title {
	font-size : 22px;
}
.test {
	width : 1000px;
	height : 350px;
	margin : 30px 30px;
	padding : 10px 30px;

	border : 1px solid rgb(197, 189, 189);
	border-radius : 5px;
}
.test hr {
	border-top : 5px solid rgb(21, 23, 168);
}
.test_content p {
	margin-top : 50px;
}
.test_content p a {
	font-size : 18px;

	margin-left : 20px;
	padding : 10px;

	text-decoration : none;

	color : black;
	border : 1px solid rgb(212, 217, 250);
	border-radius : 5px;
	background-color : rgb(223, 220, 220);
}

.knowledge {
	width : 1000px;
	height : 350px;
	margin : 30px 30px;
	padding : 10px 30px;

	border : 1px solid rgb(197, 189, 189);
	border-radius : 5px;
}
.knowledge_content p {
	margin-top : 50px;
}
.knowledge_content p a {
	font-size : 18px;

	margin-left : 20px;
	padding : 10px;

	text-decoration : none;

	color : black;
	border : 1px solid rgb(212, 217, 250);
	border-radius : 5px;
	background-color : rgb(223, 220, 220);
}
.article {
	width : 1000px;
	height : 350px;
	margin : 30px 30px;
	padding : 10px 30px;

	border : 1px solid rgb(197, 189, 189);
	border-radius : 5px;
}
.article hr {
	border-top : 5px solid rgb(21, 23, 168);
}
.article_content p {
	margin-top : 50px;
}
.article_content p a {
	font-size : 18px;

	margin-left : 20px;
	padding : 10px;

	text-decoration : none;

	color : black;
	border : 1px solid rgb(212, 217, 250);
	border-radius : 5px;
	background-color : rgb(223, 220, 220);
}

.q_a {
	width : 1000px;
	height : 350px;
	margin : 30px 30px;
	padding : 10px 30px;

	border : 1px solid rgb(197, 189, 189);
	border-radius : 5px;
}

.q_a_content p {
	margin-top : 50px;
}
.q_a_content p a {
	font-size : 18px;

	margin-left : 20px;
	padding : 10px;

	text-decoration : none;

	color : black;
	border : 1px solid rgb(212, 217, 250);
	border-radius : 5px;
	background-color : rgb(223, 220, 220);
}
