header{
    width: 1366px;
    height: 100px;
    margin: 50px auto 100px auto;
}
nav{
    width: 300px;
    height: 300px;
    margin: 20px 50px 100px 50px;
    border: 1px solid #000000;
    float: left;
}
nav li{
    display: block;
    list-style: none;
    margin: 50px;
 }
.li_1{
    color: red;
  }
  .li_2{
    color: blue;
  }
  .li_3{
    color: green;
  }
.sidebar_right{
    width: 300px;
    height: 300px;
    float: right;
    border: 1px solid #000000;
    margin: 20px 50px 100px 50px;
    color: #e60505;
}
.main{
    width: 466px;
    height: 300px;
    color: brown;
    text-align: center;
    float: left;
    border: 1px solid #000000;
    margin-top: 20px;
}