header {
	font-size : 30px;

	width : 250px;
	height : 30px;
	margin : 50px 1000px 30px 80px;

	color : red;
}

article {
	margin : 30px 250px auto 250px;
}
.side_right {
	float : right;

	width : 200px;
	height : 300px;
	margin-top : 30px;
	margin-left : 50px;

	color : red;
}
.side_right a {
	text-decoration : none;

	color : red;
}
.side_right a:hover {
	font-size : 150%;
}

.side_right ul {
	line-height : 50px;
}

.side_right p {
	font-size : 18px;
	font-weight : bold;
}
footer {
	font-size : 12px;

	width : 200px;
	height : 20px;
	margin : 100px 0px 50px 1000px;

	text-align : center;

	color : rgb(0, 3, 5);
}
