header{
    width: 100px;
    height: 50px;
    margin: 50px auto 100px auto;
}
header p{
    width: 80px;
    height: 80px;
    margin-left: 500px;
    color: #000000;
    font-size: 30px;
}
nav{
    width: 200px;
    height: 300px;
    float: left;
    margin: 20px 50px 100px 50px;
}
.sidebar_right{
    width: 200px;
    height: 300px;
    float: right;
    margin: 20px 50px 100px 50px;
    color: #e60505;
}
.main{
    color: brown;
    text-align: center;
}